<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Scholard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
          <h1>{{ username }}</h1>
            <p class="subtitle">Scholard: the research discussion community!</p>
            <p>{{ bio }}</p>
            
        </div>
    </div>
</body>
</html>
