
.template {
    height: 50px;
    color: #212121;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

.use-template a {
    width: auto;
    height: 32px;
    background-color: #28192D;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    box-sizing: content-box;
    text-decoration: none;
    padding: 0 12px;
}

.template-app-name {
    font-size: 16px;
    margin-top: 0;
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

html, body {
    overscroll-behavior: none;
    height: 100%
}

p, h1, h2, h3, h4, h5, small {
    white-space: pre-line;
}

.preview-header {
    background-color: #fff;
    z-index: 300;
    position: fixed;
    padding: 0;
    box-shadow: 0 3px 4px -2px #25252508;
    width: 100%;
}

.preview-header .toolbar {
    font-size: 12px;
    width: 100%;
    height: 56px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.preview-header__screens {
    margin: auto;
}

.preview-header__view--selection label.dropdown-label {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #383B3D;
    padding-left: 16px;
    margin-bottom: 0;
    padding-right: 8px;
    margin-right: auto;
}

.preview-header__view--selection {
    display: flex;
    align-items: center;
}


.preview-header__view--selection .choices,
.preview-header__view--selection .choices__inner {
    width: 256px;
    height: 32px;
    min-height: 32px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
}

.preview-header__view--selection .ph-info {
    font-size: 16px;
    color: #AEAEB5;
    cursor: pointer;
    margin-left: 8px;
}

.preview-header__close {
    border-left: 1px solid #F0F0F4;
    padding-left: 12px;
}

i.desktop,
i.desktop-active {
    cursor: pointer;
    font-size: 20px;
}

i.desktop-active {
    display: none;
}

i.tablet,
i.tablet-active {
    cursor: pointer;
    font-size: 20px;
}

i.tablet-active {
    display: none;
}

i.mobile,
i.mobile-active {
    cursor: pointer;
    font-size: 20px;
}

i.mobile-active {
    display: none;
}

.icon {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    color: #5A5D63;
}

.icon.active {
    border-bottom: 2px solid #EEA941;
}

.icon.active i {
    color: #212121;
}

.icon.active i.mobile-active {
    display: inline-block;
}

.icon.active i.mobile {
    display: none;
}

.icon.active i.tablet-active {
    display: inline-block;
}

.icon.active i.tablet {
    display: none;
}

.icon.active i.desktop-active {
    display: inline-block;
}

.icon.active i.desktop {
    display: none;
}

.iframe-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    background-color: #343a40 !important;
    height: 100%;
}

.full-screen-preview__iframe {
    width: 100%;
    background-color: white;
    border: 0;
    height: calc(100% - 56px);
    margin-top: 56px;
    position: absolute;
    border: none;
}

.iframe-preview--mobile {
    width: 375px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.iframe-preview--tablet {
    width: 768px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}
.choices__list.choices__list--dropdown .choices__list {
    overflow-x: hidden;
}
.choices__list.choices__list--dropdown {
    border-radius: 8px!important;
    border: 0!important;
    box-shadow: 0px 8px 32px 0px rgba(33, 33, 33, 0.08)!important;
}

.choices .choices__list .user {
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding-bottom: 2px;
}

.choices .choices__list .empty-user-list {
    display: flex;
    align-items: center;
    background-color: #EDF3FB;
    border: 1px solid #C9DAF2;
    padding: 9px 16px 9px 8px;
    border-radius: 8px;
    cursor: default;
    margin: 8px auto;
    width: 208px;
}

.choices .choices__list .empty-user-list .message {
    color: #5A5D63;
    word-break: break-word;
}

.choices .choices__list .empty-user-list::placeholder {
    color: #AEAEB5;
}

.choices .choices__list .empty-user-list i {
    margin: 4px 12px 44px 4px;
    color: #4D85D5;
    font-size: 16px;
}

.choices .choices__list .empty-user-list a {
    color: #4D85D5;
    text-decoration: underline;
}

.choices__item.choices__item--selectable {
    background: transparent;
}

.choices__item.choices__item--choice.is-selected {
    font-weight: 600;
}

.choices__item.choices__item--choice.has-no-results {
    padding-left: 10px;
}

.choices .choices__list .user .avatar {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    margin: 8px 8px 8px 16px;
    color: #212121;
    overflow: hidden;
}

.choices .choices__list.choices__list--single {
    padding: 5px 10px 2px 10px;
}

.choices .choices__list.choices__list--single .user .email {
    max-width: 185px;
    width: 185px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.choices__item.choices__item--choice.is-selected .email,
.choices__item.choices__item--choice.is-selected .userGroups {
    font-weight: 400;
}

.choices .choices__list.choices__list--dropdown .info.non-logged-in.is-selected .email {
    color: #212121;
    font-weight: 600;
    font-size: 13px;
}

.choices .choices__list.choices__list--single .user .avatar {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0;
    margin-right: 4px;
    color: #AEAEB5;
    border: none;
}

.choices__heading {
    font-weight: 600;
    font-size: 11px;
    padding: 0px;
    border-bottom: none;
    color: #AEAEB5;
}

/* Customize the dropdown icon using Phosphor Icons */

.choices[data-type*=select-one]::after {
    content: "\e9fe"; /* Replace with the desired Phosphor Icon Unicode */
    font-family: "Phosphor"; /* Use the Phosphor Icons font-family */
    font-size: 16px;
    color: #AEAEB5;
    border: 0;
    position: absolute;
    top: 9px;
    right: 23px;
}

/* Style the dropdown icon when the dropdown is open */
.choices[data-type*=select-one].is-open::after {
    top: 25px;
    transform: rotate(180deg);
    right: 8px;
    margin: 0;
}

.choices .choices__list .user .info {
    max-width: 155px;
    width: 155px;
}

.choices .choices__list .user .info.non-logged-in {
    max-width: 190px;
    width: 190px;
    margin-left: 15px;
    padding: 10px 0 10px 0;
    color: #5A5D63;
    font-weight: 400;
}

.choices .choices__list .user .avatar .image {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.choices .choices__list .user .avatar .user-initials {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choices .choices__list .user .name {
    color: #212121;
}

.choices .choices__list .is-selected .user .name {
    max-width: 145px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.choices .choices__list .user .email {
    color: #5A5D63;
    padding-right: 4px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.choices .choices__list .user .userGroups {
    color: #383B3D;
    font-size: 12px;
    background-color: #F0F0F4;
    display: inline-block;
    padding: 1px 3px;
    border-radius: 2px;
    margin: 1px 3px;
    width: auto;
}

.choices .choices__list .user:hover .userGroups {
    background-color: #d5d5d5;
}

.choices .choices__list .user:hover {
    background-color: #e4e4e4;
}

.choices .choices__list > :first-child {
    background-color: transparent !important;
}

.choices .choices__list .user .check {
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.choices[data-type*=select-one] .choices__input {
    width: 208px;
    padding: 9px 8px 9px 28px;
    border: 1px solid #F0F0F4;
    background-color: #FAFAFC;
    background-image: url("https://assets.softr-files.com/assets/images/magnifying-glass.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 16px 11px;
    border-radius: 8px;
    margin: 16px 24px 0 24px;
    text-indent: 8px;
}

.choices[data-type*=select-one] .choices__input::placeholder {
    color: #AEAEB5!important;
    font-size: 13px!important;
}

.choices__item {
    background-color: #fff;
    transition: .25s;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.choices__group {
    margin: 0 24px 0 24px;
}

.choices__list[aria-expanded] {
    margin-top: 2px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    font-size: 13px;
    padding: 0;
    border-radius: 4px;
    margin: 1px 8px;
    line-height: 18px;
}

.choices__list--dropdown .choices__item:not([data-value="Non-logged-in user"]) {
    padding: 6px 0!important;
}

[data-value="Non-logged-in user"] {
    margin-top: 8px!important;
    margin-bottom: 8px!important;
}

.user .ph-check.check {
    margin-right: 10px;
}

.non-logged-in-separator {
    width: 208px;
    height: 1px;
    background: #E5E5EA;
    margin: 8px 24px 16px 24px;
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 28px;
}

.close:focus {
    outline: none;
}

.container {
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(33, 33, 33, 0.04), 0px 8px 32px rgba(33, 33, 33, 0.08);
    border-radius: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #212121;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 176px;
    display: none; /* initially we do not show QR block */
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: #4D85D5;
    text-decoration: none;
}

.urlQRCodeImage {
    width: 152px;
    height: 152px;
    margin-bottom: 12px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    animation: fadeOut 1s forwards; /* 1s fade-out */
    pointer-events: none; /* Disable interactions */
    opacity: 0; /* Ensure it's fully invisible */
}

.hiddenWithNoAnimation {
    pointer-events: none; /* Disable interactions */
    opacity: 0; /* Ensure it's fully invisible */
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    display: none;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #383B3D; /* Text color */
    font-size: 14px;
    cursor: progress;
}

/* Spinner icon animation */
.ph-spinner {
    font-size: 24px; /* Icon size */
    animation: spin 1s linear infinite;
    margin-bottom: 5px;
}

/* Spin keyframes */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Confirmation Modal styles*/
#userConfirmationModal .modal-dialog {
    max-width: 520px;
}

#userConfirmationModal .modal-content {
    box-shadow: 0 24px 48px 0 #2121210A;
    border-radius: 16px;
    border: 0;
    padding: 32px;

}

#userConfirmationModal .modal-header {
    border: 0;
    padding: 0;
    margin-bottom: 16px;
}

#userConfirmationModal .modal-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
    white-space: normal;
    color: #212121;
}

#userConfirmationModal .modal-body {
    color: #5A5D63;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding: 0;
    padding-right: 4px;
    white-space: normal;
}

#userConfirmationModal .modal-body p {
    white-space: normal;
    padding: 0;
    margin: 0;
}

#userConfirmationModal .modal-footer {
    border: 0;
    padding: 0;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#userConfirmationModal .remember-checkbox label {
    color: #383B3D;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;

}

#userConfirmationModal .submit-btn {
    background-color: #EEA941;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    border: 0;
    color: #28192D;

}

/*Confirmation Modal styles end */

/*Toaster Modal styles */
#toast-container {
    bottom: 56px;
    left: 25px;
    position: absolute;
    background: transparent;
    border: 0;
    box-shadow: none;
    max-width: 400px;
    width: 400px;
}


div#toast-container > div.toast-body {
    background-color: #FCEFEF;
    background-image: url('https://softr-assets-eu-shared.s3.eu-central-1.amazonaws.com/studio/blocks/assets/toaster-close-icon.svg') !important;
    background-repeat: no-repeat;
    background-position: 12px center;
    color: #383B3D;
    max-width: 400px;
    width: 400px;
    border-radius: 12px;
    opacity: 1;
    border: 0;
    padding-left: 45px;
}

#toast-container .toast-body .message {
    max-width: 300px !important;
    width: 300px !important;
}

#toast-container .toast-body .close {
    top: 5px;
    right: 10px;
    font-size: 18px;
}

@media (max-width: 910px) {
    .preview-header .preview-header__screens {
        margin-right: auto;
    }
}

@media (max-width: 730px) {
    .preview-header__view--selection {
        padding-left: 8px;
    }
    .preview-header__view--selection label.dropdown-label {
        display: none;
    }
    .icon{
        width: 26px;
        height: 26px;
    }
    .preview-header__view--selection .ph-info {
        display: none;
    }
}

@media (max-width: 600px) {
    .preview-header .preview-header__screens {
        display: none;
    }
}

@media (max-width: 576px) {
    div#toast-container > div.toast-body {
        max-width: 320px !important;
        width: 320px !important;
    }

    #toast-container .toast-body .message {
        max-width: 250px !important;
        width: 250px !important;
    }
}

@media (max-width: 500px) {
    .preview-header{
        display: none;
    }
    .full-screen-preview__iframe {
        height: 100%;
        margin-top: 0;
    }
}

/*Toaster Modal styles end */